* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
font-style: normal;
  font-weight: normal;
   font-family: Futura Hv BT;
   
}

.d-flex{

display:flex;
flex-direction:column;
align-items:center;
justify-content:center;

}


h1{  
  font-family: Futura Bk BT;		
  font-size: 40px;   
}

.logo{
 margin-left:22px;
margin-top:35px;
}


h2{ 
  font-family: Futura Hv BT;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
}
h3{
  font-size: 22px;
  font-style: normal;
  font-weight: normal;
}

h4{
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
}


.color-green{  
color: rgba(59,209,114,1);
}

.bg-green1{
  background-color:	#3BD172 !important;
  }
  

.color-white{
color:#fff
}
.text-align-center{
text-align:center;
}

.text-align-left{
text-align:left;
}

a{
  text-decoration: none;
  cursor: pointer;
  
}
.btn{

font-style: normal;
font-weight: normal;
font-size: 32px;    

color: rgba(255,255,255,1);

border-radius:30px;
margin-top:30px;
padding: 10px 30px 10px 30px;

}

.btn-bg-green{
  background-color:	#3BD172;
  color:white;
}
.btn-bg-transparent{
  
background-color:transparent;
  color:white;
  border:2.9px solid white;
}


button:focus{
  outline: 0;
  box-shadow: none!important;
 }

 
input:focus {
  color:#616161;
  outline:none;
  border:none;
  }
