.delete-btn{
    background-color: #3BD172;
    font-size: 16px;    
    color: #F5F5F5;
    border-radius: 15px; 
    padding: 7px 19px;
    margin-left: 15px;
    margin-right: 10px;
}

table tr {
	text-align: center;
	padding-left:20px;  
}

tbody{    
    background-color:transparent;    
}

tbody tr{
    border-bottom: 3px solid #f3f3f3;    
}

td{
    background-color: white;
}