.non-found-container{
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-holder1 {
    overflow: hidden;
    background: url("./bg.png") center center / cover no-repeat fixed;
    z-index: 70;
    height: 100vh;
}
 